<form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button class="search-form__btn" type="submit">Search</button>
</form>
<div class="gallery">
    <!-- <a
        href="https://pixabay.com/get/g1986fd13ee4e615c4341af918d57d8171c9bdea7ca11fbe5a513656e5f61b0144ace999e232fbbd75b494534627115daf2cf1939f91ad25b257f7ecffd76d4ec_1280.jpg">
        <img src="https://pixabay.com/get/g1986fd13ee4e615c4341af918d57d8171c9bdea7ca11fbe5a513656e5f61b0144ace999e232fbbd75b494534627115daf2cf1939f91ad25b257f7ecffd76d4ec_1280.jpg"
            alt="" loading="lazy" style="width: 300px; height: 180px" />
    </a> -->

    <!-- <div class="photo-card">
        <a
            href="https://pixabay.com/get/g1986fd13ee4e615c4341af918d57d8171c9bdea7ca11fbe5a513656e5f61b0144ace999e232fbbd75b494534627115daf2cf1939f91ad25b257f7ecffd76d4ec_1280.jpg">
            <img src="https://pixabay.com/get/g1986fd13ee4e615c4341af918d57d8171c9bdea7ca11fbe5a513656e5f61b0144ace999e232fbbd75b494534627115daf2cf1939f91ad25b257f7ecffd76d4ec_1280.jpg"
                alt="{{tags}}" loading="lazy" style="width: 300px; height: 180px" />
        </a>
        <div class="info">
            <p class="info-item">
                <b>Likes</b>
                <span class="result">123</span>
            </p>
            <p class="info-item">
                <b>Views</b>
                <span class="result">3213</span>
            </p>
            <p class="info-item">
                <b>Comments</b>
                <span class="result">2</span>
            </p>
            <p class="info-item">
                <b>Downloads</b>
                <span class="result">2313213</span>
            </p>
        </div>
    </div> -->

</div>
<div class="container-btn">
    <button type="button" class="load-more is-hidden">Load more</button>
    <a class="anchor is-hidden" target="_self">☝</a>
</div>